<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>ContactJsp</servlet-name>
        <jsp-file>/session.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactJsp</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>

</web-app>